<div class="row g-0 h-100">
    <!-- date & time inputs -->
    <div class="col-lg-8 d-grid gap-3 pe-5">

        <div class="">
            <h6 class="mb-2">Select Date</h6>
            <div class="input-group">
                <span class="badge bg-primary-600 rounded-circle me-2" id="day">
                    <i class="icon-calendar text-white"></i>
                </span>
                <input type="date" name="bookingDate" 
                    [value]="formattedDay()" (change)="onSelectDate($event)"
                    [min]="_today.toISOString().split('T')[0]"
                    class="form-control" aria-label="Day" aria-describedby="day"
                />
            </div>
        </div>

        <div class="">
            <h6 class="mb-2">Select Time Slot</h6>
    
            <div class="d-flex flex-wrap gap-3">
                @for (slot of slots(); track $index) {
                    <div class="w-25">
                        <input class="d-none" type="checkbox" name="slot" id="radioDefault{{ $index }}"
                            (change)="toggleSlotSelection(slot)"
                        />
                        <label 
                            class="bg-light border rounded p-2 d-inline-block w-100 text-center" 
                            for="radioDefault{{ $index }}">
                            {{ slot.start }} - {{ slot.end }}
                        </label>
                    </div>
                }
            </div>
        </div>

        <!-- Total Price -->
        <div class="text-end">
            <div class="position-relative w-50 ms-auto">
                <button class="btn btn-primary btn-lg" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#bookingTotalPrice" 
                    aria-expanded="false" aria-controls="bookingTotalPrice">
                    Total Price: {{ selectedSlots().length * _reservationState.selectedField()!.hourlyPrice }} EGP
                    <i class="icon-arrow-up ms-2"></i>
                </button>
                
                <div class="collapse position-absolute bottom-100 end-0 w-100" id="bookingTotalPrice">
                    <div class="card card-body text-start">
                        <h6 class="mb-3 border-bottom">Selected Time Slots:</h6>
                        <ul class="list-unstyled d-grid gap-2">
                            @for (slot of selectedSlots(); track $index) {
                                <li class="list-group-item d-flex gap-2 justify-content-between align-items-center">
                                    {{ slot.start }} - {{ slot.end }}
                                    <span class="badge bg-primary-600 rounded-pill text-white">
                                        {{ _reservationState.selectedField()!.hourlyPrice }} EGP
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- selected field info -->
    <div 
        class="col-lg-4 bg-primary-25 border border-primary h-100 overflow-auto rounded shadow"
        style="border-width: 2px !important;">
        <img src="images/default-images.png" 
            class="w-100 object-fit-cover object-fit-position-center" 
            alt="default image" height="150"
        />

        <div class="p-3 d-grid gap-2">
            <h5>{{ _reservationState.selectedField()!.name }}</h5>
            
            <a href="javascript::void(0)" role="doc-tip">
                <p>
                    <i class="icon-player"></i>
                    {{ _reservationState.selectedField()!.supportedSizes[0] }} Players
                </p>
            </a>
            
            <a [href]="'tel:' + _reservationState.selectedField()!.phone" title="Field Mobile number">
                <p class="mb-0">
                    <i class="icon-phone"></i>
                    {{ _reservationState.selectedField()!.phone }}
                </p>
            </a>
            <a href="javascript::void(0)" role="button" (click)="openMap()" title="Open in Google Mapp">
                <p class="mb-0">
                    <i class="icon-map-pin"></i>
                    {{ _reservationState.selectedField()!.address.governorate.name_en }}, 
                    {{ _reservationState.selectedField()!.address.city.name_en }}
                </p>
            </a>
        </div>
    </div>
</div>