/*
    Colors
    #25935f
    #6a9b7e
    #f0fcf4
    #deb887
*/

.logo {
    display: inline-block !important;
    padding: 1rem;
    background-color: #25935f;
    color: white;
    font-weight: 900;
    border-radius: 1rem;
}

.hero-section {
    --header-height: 0px;

    min-height: calc(100vh - var(--header-height));
    display: grid;
    align-items: center;
    // place-content: center;
    color: white;
    position: relative;
    background-image: url("/images/hero-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba($color: #000000, $alpha: 0.35);
    }

    // old
    // background-repeat: repeat;
    // background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.08'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),linear-gradient(to bottom,#25935f,#379565,#45966a,#519870,#5c9976,#6a9d77,#77a078,#84a47a,#9aaa79,#b0af7a,#c7b47f,#deb887);
}


h1 {
    font-size: 4rem;
    line-height: normal;
}


.input-group {
    .badge {
        height: 30px;
        width: 30px;
        display: grid;
        align-content: center;
    }
    input {
        border: none;
        background: transparent;
        flex: 1;

        &:focus, &:focus-visible {
            outline: none;
        }
    }
}