<section>

    <div class="grid-container bg-white rounded-3 py-6">
        <div class="container">
            <h2>Fields</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            </p>
        
            <div class="row g-4 mt-2">
                @for (f of [0, 1, 3]; track $index) {
                    <div class="col-lg-4 col-md-6 col-12">
        
                        <div class="card card-body bg-white">
                            <img src="images/fields/f1.jpg" 
                                class="w-100 object-fit-cover object-fit-position-center rounded-2" height="200" alt="default image" 
                            />
                            <h5 class="card-title mb-0 mt-2">
                                PCI Court
                            </h5>
                            <p>Lorem ipsum dolor sit amet.</p>
            
                            <div class="d-flex align-items-center gap-2 mt-3">
                                <span class="badge border-black">
                                    <i class="icon-map-pin me-1"></i>
                                    Al-Malaz, Riydh
                                </span>
            
                                <span class="badge border-black">
                                    <i class="icon-pitch me-1"></i>
                                    7 VS 7
                                </span>
            
                                <span class="ms-auto fs-5 fw-bold">
                                    130 SAR/H
                                </span>
                            </div>
                        </div>
                        
                    </div>
                }
            </div>

            <div class="text-center mt-5">

                <a role="button" class="btn btn-primary pe-1 py-1 rounded-5 h-100" routerLink="/fields">
                    View more
        
                    <span class="badge ms-2 bg-white rounded-circle">
                        <i class="icon-arrow-up-right text-black" style="font-size: 0.5rem;"></i>
                    </span>
                </a>
            </div>
        
        </div>
    </div>

</section>
