<nav class="navbar navbar-expand-md bg-transparent">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <!-- <div class="d-flex gap-2 align-items-center justify-content-center">
                <span class="logo-sm h3 mb-0">
                    S8
                </span>
                <h3 class="fw-bold mb-0">Str8Kick</h3>
            </div> -->
            <h4 class="text-gray-25">Str8Kick</h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-0">
                @for (item of navItems; track $index) {
                    <li class="nav-item mx-2">
                        <a class="nav-link" aria-current="page" routerLink="{{ item.link }}" routerLinkActive="active">
                            {{ item.label }}
                        </a>
                    </li>
                }
            </ul>

            <div class="d-flex gap-3">
                <a role="button" class="btn btn-light pe-1 rounded-5" routerLink="/">
                    Contact Us

                    <span class="badge ms-2 bg-primary-600 rounded-circle">
                        <i class="icon-arrow-up-right text-white" style="font-size: 0.5rem;"></i>
                    </span>
                </a>
                <!-- <button class="btn btn-secondary" type="button" title="search" data-bs-toggle="collapse" data-bs-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse">
                    Search
                </button> -->
                <!-- <a routerLink="/login" title="login" class="btn" role="button">
                    <i class="icon-player fs-1"></i>
                </a> -->
            </div>
        </div>
        
    </div>
</nav>
<div class="collapse bg-white position-absolute card card-body border-top-0 rounded-0 shadow-sm w-100 h-auto" id="searchCollapse">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <p class="text-muted">
                Some placeholder content for the collapse component.
            </p>

            <button type="button" class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#searchCollapse" aria-label="Close">
                &times;
            </button>
        </div>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">
                <i class="icon-search"></i>
            </button>
        </form>
    </div>
</div>